@model List<NugetPadelAWS_DSC.Partido>
<section class="vh-100">

    <h1>Mis partidos</h1>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Volver al Inicio</a>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-1 row-cols-xl-2 g-3 justify-content-center">
        @if (Model != null)
        {
        @foreach (var partido in Model)
        {
            <div class="col m-3" style="width: 350px">
                <div class="card" style="width: 350px; background-color: #212529">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white"> @partido.NombrePista</h5><br />
                        <p class="card-text" style="color:white">Dia: @partido.Fecha</p><br />
                        <p class="card-text" style="color:white">Hora: @partido.HoraInicio:00 - @(partido.HoraFinal):00</p><br />
                        <p class="card-text" style="color:white">Numero de la pista : @partido.IdPista</p><br />
                        <p class="card-text" style="color:white">Precio: @partido.Precio€</p><br />

                        <a asp-controller="Partidos" asp-action="BorrarPartido" asp-route-idpartido="@partido.IdPartido"
                           class="btn btn-primary">Borrar Partido</a>
                    </div>
                </div>
            </div>

        }
        }
    </div>
</section>